extends ../index-template

block variables
  - var page_title = "Home";

include mixins/products

block content

  .section.section--250-auto
    .section__item.news
      include blocks/news

    .section__item
      include blocks/achievements

      .products.products--inline
        +products__header('Товары месяца')
        .products__items
          .products__pane
            each item in productItems
              .products__item
                +product__item(
                  item.vendor,
                  item.imageSrc,
                  item.link,
                  item.commentsCount,
                  item.title,
                  item.oldPrice,
                  item.price
                )

      .products.products--inline
        +products__header('Новые поступления')
        .products__items
          .products__pane
            each item in productItems
              .products__item
                +product__item(
                  item.vendor,
                  item.imageSrc,
                  item.link,
                  item.commentsCount,
                  item.title,
                  item.oldPrice,
                  item.price
                )

      .products.products--inline
        +products__header('Производители')
        .products__items
          .sponsors
            - for (var i = 0; i < 20; i++)
              .sponsors__item
                img.sponsors__image(src="public/img/100.png", alt="image")