extends ../product-template

block variables
  - let page_title = "Product detail"

block content
  .nav-tree.text--sm.text--gray
    | Главная/Каталог/Облицовочный кирпич КРАСНЫЙ гладкий 1,4 NF - Braer