extends doctype

block body
  .container
    include pages/mixins/objects

    include includes/header
    include includes/nav
    include includes/categories

    block content

    include includes/mailing
    include includes/footer