form.filters(method='get')
  select
    option One
    option Two
    option Three
  input.filters__price.filters__price--from(type="text")
  input.filters__price.filters__price--to(type="text")
  input(type="range")
  select
    option One
    option Two
    option Three
  input(type="checkbox" value="v1")
  label Item
  input(type="checkbox" value="v2")
  label Item
  input(type="checkbox" value="v3")
  label Item
  input(type="checkbox" value="v4")
  label Item