-
  let productItems = [
    {
      vendor: '208233',
      imageSrc: 'public/img/200x175.png',
      link: '#',
      commentsCount: '159',
      title: 'Кирпич облицовочный Braer красный гладкий 1NF 25x120x65 мм',
      oldPrice: '',
      price: '15.59 руб/шт'
    }, {
      vendor: '208323',
      imageSrc: 'public/img/200x175.png',
      link: '#',
      commentsCount: '32',
      title: 'Кирпич облицовочный Braer красный гладкий 1NF 25x120x65 мм',
      oldPrice: '20.59 руб/шт',
      price: '15.59 руб/шт'
    }, {
      vendor: '203382',
      imageSrc: 'public/img/200x175.png',
      link: '#',
      commentsCount: '5',
      title: 'Кирпич облицовочный Braer красный гладкий 1NF 25x120x65 мм',
      oldPrice: '',
      price: '15.59 руб/шт'
    }, {
      vendor: '208233',
      imageSrc: 'public/img/200x175.png',
      link: '#',
      commentsCount: '159',
      title: 'Кирпич облицовочный Braer красный гладкий 1NF 25x120x65 мм',
      oldPrice: '20.59 руб/шт',
      price: '15.59 руб/шт'
    }, {
      vendor: '208323',
      imageSrc: 'public/img/200x175.png',
      link: '#',
      commentsCount: '32',
      title: 'Кирпич облицовочный Braer красный гладкий 1NF 25x120x65 мм',
      oldPrice: '',
      price: '15.59 руб/шт'
    }, {
      vendor: '203382',
      imageSrc: 'public/img/200x175.png',
      link: '#',
      commentsCount: '5',
      title: 'Кирпич облицовочный Braer красный гладкий 1NF 25x120x65 мм',
      oldPrice: '20.59 руб/шт',
      price: '15.59 руб/шт'
    }, {
      vendor: '208233',
      imageSrc: 'public/img/200x175.png',
      link: '#',
      commentsCount: '159',
      title: 'Кирпич облицовочный Braer красный гладкий 1NF 25x120x65 мм',
      oldPrice: '',
      price: '15.59 руб/шт'
    }, {
      vendor: '208323',
      imageSrc: 'public/img/200x175.png',
      link: '#',
      commentsCount: '32',
      title: 'Кирпич облицовочный Braer красный гладкий 1NF 25x120x65 мм',
      oldPrice: '20.59 руб/шт',
      price: '15.59 руб/шт'
    }, {
      vendor: '203382',
      imageSrc: 'public/img/200x175.png',
      link: '#',
      commentsCount: '5',
      title: 'Кирпич облицовочный Braer красный гладкий 1NF 25x120x65 мм',
      oldPrice: '',
      price: '15.59 руб/шт'
    }
  ]

  let newsItems = [
    {
      title: 'Какой-то заголовок новости Какой-то заголовок новости Какой-то заголовок новости',
      imageSrc: 'public/img/275x200.png',
      pubDate: '07.09.2020'
    }, {
      title: 'Какой-то заголовок новости',
      imageSrc: 'public/img/275x200.png',
      pubDate: '07.09.2020'
    }, {
      title: 'Какой-то заголовок новости',
      imageSrc: 'public/img/275x200.png',
      pubDate: '07.09.2020'
    }
  ]

  let categoryItems = [
    {
      imageSrc: '',
      text: 'Электрика',
      link: '#'
    }, {
      imageSrc: '',
      text: 'Отопление',
      link: '#'
    }, {
      imageSrc: '',
      text: 'Водоснабжение',
      link: '#'
    }, {
      imageSrc: '',
      text: 'Сантехника',
      link: '#'
    }, {
      imageSrc: '',
      text: 'Крепеж',
      link: '#'
    }, {
      imageSrc: '',
      text: 'Сухие смеси',
      link: '#'
    }, {
      imageSrc: '',
      text: 'Краски',
      link: '#'
    }, {
      imageSrc: '',
      text: 'Инструмент',
      link: '#'
    }
  ]

  let carouselItems = [
    'public/img/845x400.png',
    'public/img/845x400.png',
    'public/img/845x400.png'
  ]

  let achievementsItems = [
    {
      imageSrc: '',
      title: 'Большой выбор товаров',
      content: 'Партнерство с лучшими заводами'
    }, {
      imageSrc: '',
      title: 'Низкие цены',
      content: 'Наши цены конкурентны с крупными гипермаркетами'
    }, {
      imageSrc: '',
      title: 'Приезжай - забирай',
      content: 'Товар всегда есть на складе'
    }
  ]