$dark: #3c3c3c;
$light: #e1e1e1;
$white: #fff;
$black: #000;
$gray: #ccc;
$yellow: #ebb82b;
$orange: #ff810b;
$orange-gradient: linear-gradient(90deg, $yellow, $orange);
$green: #82e043;

$font-xl: 2rem;
$font-lg: 1.8rem;
$font-md: 1.6rem;
$font-sm: 1.4rem;
$font-xs: 1.2rem;