.form-inline {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  overflow: hidden;
  font-size: $font-md;
  
  &__field {
    border-radius: 0;
    border: none;
    padding: 10px 15px;
    width: 350px;
    font-size: inherit;
    font-weight: 100;
    letter-spacing: normal;
  }

  &__btn {
    font-size: $font-xl;
    padding: 10px;
  }
}