.section.footer

  .footer__links.text--sm
    .footer__links__section
      img.footer__links__logo(src="", alt="brand")
    .footer__section
      .footer__header.text--md.text--600 О компании
      a.footer__link.text--dark(href='#') Контакты
      a.footer__link.text--dark(href='#') Производители
    .footer__section
      .footer__header.text--md.text--600 Покупателям
      a.footer__link.text--dark(href='#') Доставка
      a.footer__link.text--dark(href='#') Оплата
      a.footer__link.text--dark(href='#') Отзывы
      a.footer__link.text--dark(href='#') Прайслист
    .footer__section
      .footer__header.text--md.text--600 Полезная информация
      a.footer__link.text--dark(href='#') Советы по ремонту
      a.footer__link.text--dark(href='#') Строительныe калькуляторы
    .footer__section
      .footer__links__header.text--md.text--600 Контакты
      a.footer__links__phone.text--title-sm.text--600(href="tel:89005554466") 8 900 555 44 66
      .phone
        i.fas.fa-phone.footer__phone-icon
        a.footer__phone-link(href='#') Заказать звонок
      .footer__socials.text--title-md
        .fab.fa-facebook
        .fab.fa-vk
        .fab.fa-instagram
        .fab.fa-youtube
        .fab.fa-odnoklassniki

  .footer__license.text--sm.text--gray
    p Все права защищены &copy; 2020 г. | ОГРН ИП 12345678987654321
    a.footer__link Политика конфиденциальности