.header.text--white.text--md

  .header__section
    .header__brand
      img.header__logo(src="", alt="Brand")

  .header__section
    form.form-inline.text--lg
      input.form-inline__field(type="text" placeholder="Более 10 000 товаров...")
      button.btn.btn--orange-theme
        i.fas.fa-search

  .header__section
    .header__links
      a.header__link(href="#")
        i.fas.fa-percent.text--green
        p Акции
      a.header__link(href="#")
        i.fas.fa-user.text--orange
        p Личный кабинет

  .header__section.header__phones.text--md
      .header__phone.text--600
        i.fas.fa-phone.text--orange
        a.header__phone(href="tel:89005554466") &nbsp;8 900 555 44 66
        i.fab.fa-whatsapp.text--green
        a.header__phone(href="tel:89005556644") &nbsp;8 900 555 66 44
      a.header__btn.text--300(href="#")
        i.fas.fa-phone.text--orange
        p &nbsp;Заказать звонок