.section.mailing.text--white
  .mailing__section
    i.fas.fa-envelope.mailing__icon.text--orange
    .mailing__title.text--title-sm.text--800 Подпишитесь на рассылку!
    .text--lg.text--600 Вы будете первыми узнавать о новых акциях и распродажах.
  .mailing__section
    form.form-inline.text--md
      input.form-inline__field.form-inline__field--sm(type="email" placeholder="Ваш e-mail")
      button.btn.btn--orange-theme.btn--lg Подписаться